<form id="add-space-form" ng-submit="addSpace()">
  <label>
    Name
    <input type="text" id="name" ng-model="name" placeholder="Enter a name" />
  </label>
  <label>
    Price per Night
    <input type="number" id="price" ng-model="price" placeholder="&pound;" />
  </label>
  <label>
    Description
    <textarea id="description" ng-model="description" rows="4" cols="50" style="resize: none;" placeholder="Enter a description"></textarea>
  </label>
  <button type="submit" id="submit" class="btn">Add Space</button>
</form>